body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}
.button :hover{
    color: #fdffff;
    background-color: #000;

}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a, #mode-toggle {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s;
}
#mode-toggle {
    color: #000;
}

nav ul li a:hover, #mode-toggle:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

.prompt-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.prompt-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.prompt-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.like-button {
    background-color: #008cba;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.like-button:hover {
    background-color: #005f5f;
}
.like-count {
    display: block;
    margin-top: 10px;
}



